*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    zoom: 102%;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "FiraCode";
    src: url("fonts/Fira_Code/FiraCode-VariableFont_wght.ttf") format("truetype");
}

.banner{
    width:100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.95),rgba(0,0,0,0.80)), url(background.jpg) ; 
    background-size: cover;
    position: absolute;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 150px ;
    cursor: pointer;
}
.navbar ul li{
    list-style-position: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a{
    font-family: FiraCode;
    text-decoration: none;
    color: #fff;
}

.navbar ul li a:hover{
    font-family: FiraCode;
    text-decoration: none;
    color: cornflowerblue;
    transform: translateX(-10px);
}

.navbar ul li::before{
    content: '-> ';
    color: cornflowerblue;
}


.content {

    width: 90%;
    position: absolute;
    text-align: center;
    color: #fff;
    overflow: hidden;
    margin:center;
    

}

.content h1 {
    color:#fff;
    font-family: Roboto;
}

.content p {
    font-family: "FiraCode";
    font-weight: 100;
    line-height: 20px;
    color: whitesmoke;
}


.ender{
    font-family: FiraCode;
    position: absolute;
    text-align: center;
    bottom: 0;
}

.Singularity_Status{

    width: 90%;
    position: absolute;
    text-align: left;
    color: #fff;
    position:absolute;
    overflow: hidden;
    text-align: right;

}

.Singularity_Status h1 {
    
    font-family: Roboto;
}

.Singularity_Status h2 {
    color:#ffffff;
    font-family: Roboto;
}

.Singularity_Status p {
    font-family: "FiraCode";
    font-weight: 100;
    line-height: 20px;
    color: rgb(255, 255, 255);
}

.Singularity_Status p1 {
    font-family: "FiraCode";
    font-weight: 100;
    line-height: 15px;
    color: rgb(255, 0, 0);
}

@keyframes changeColor {
    0% { color: red; }
    50% { color: rgb(0, 0, 0); }
    100% { color: red; }
  }

    .Singularity_Status h1 {
    animation: changeColor 2s linear infinite;
    }


#preloader{
    background: #000 url(preloader2.gif) no-repeat center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
